<h1>Neue Meldung</h1>

<div class="goldbox">
    <form action="#" method="post">
        <label for="title">Titel</label>
        <input type="text" name="title" id="title" required>

        <label for="text">Text</label>
        <textarea name="text" id="text" width="100%" rows="10" required></textarea>

        <label for="image"></label>
        {{!-- image upload with Couldinary --}}

        {{!-- how to manage multiple urls?? --}}
        <label for="url">Link url</label>
        <input type="text" name="url" id="url">

        <label for="linktext">Linkbeschriftung</label>
        <input type="text" name="linktext" id="linktext">

        <div class="buttonflex">
            <button class="edit-button" name="action" type="submit" value="add">Hinzufügen</button>
            <a href="#">Zurück</a>
        </div>
    </form>
</div>