<h1>Aktuelles</h1>
<a href="#">Menü</a>

{{#each news}}
<div class="goldbox">
    <p>Titel: {{title}}</p>
    <p>Datum: {{updatedAt}}</p>
    <div class="buttonflex">
        <a href="#">Bearbeiten</a>
        <a href="#">Löschen</a>
    </div>
</div>