<h1>Aktuelles</h1>
<a href="/adminMenu">AdminMenü</a>

{{#each news}}
<form  action="#" method="get"  class="goldbox-h" style="justify-content:space-between">
<div  style="width: 1000px">
    <h3>{{title}}</h3>
    <p class="datestamp">{{updated_at}}</p>
</div>
        <button type="submit" formaction="/news/{{_id}}/edit">Bearbeiten</button>
        <button type="submit" formaction="/news/{{_id}}/delete">Löschen</button>
    </form>
{{/each}}