<h1>Neue Shopartikel</h1>

<div class="goldbox">
    <form action="#" method="post">
        <label for="artist">Projekt</label>
        <input type="text" name="artist" id="artist" required>

        <label for="title">Titel</label>
        <input type="text" name="title" id="title" required>

        <label for="year">Jahr</label>
        {{!-- insert current year as default value --}}
        <input type="number" name="year" id="year" value="">

        <label for="description">Beschreibung</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>

        <label for="price">Preis</label>
        <input type="number" name="price" id="price"required>

        <label for="promotionText">Werbetext</label>
        <textarea name="promotionText" id="promotionText" cols="30" rows="10"></textarea>

        <label for="promotionImage">Werbebild (URL)</label>
        <input type="text" name="promotionImage" id="promotionImage">

        <label for="endorsements">Rezensionen</label>
        {{!-- how? --}}

        <label for="available">Verfügbar</label>
        <select name="available" id="available">
            <option value="true" selected>Ja</option>
            <option value="false">Nein</option>
        </select>

        <label for="delivery">Lieferung</label>
        <select name="available" id="available">
            <option value="" ></option>
            <option value="1-3 Tage" selected >1-3 Tage</option>
            <option value="1-2 Wochen">1-2 Wochen</option>
            <option value="2-4 Wochen">2-4 Wochen</option>

        <label for="image">Bild (URL)</label>
        {{!-- update later for cloudinary --}}
        <input type="text" name="delivery" id="delivery">

        <label for="spotify">Link zu Spotify</label>
        <input type="text" name="spotify" id="spotify">

        <label for="shoppingcart">Link zu Paypal</label>
        <input type="text" name="shoppingcart" id="shoppingcart" required>

        <div class="buttonflex">
            <button class="edit-button" name="action" type="submit" value="add">Hinzufügen</button>
            <a href="#">Zurück</a>
        </div>
    </form>
</div>