<h1>Shopartikel</h1>
<a href="#">Menü</a>

{{#each shopArticle}}
<div class="goldbox">
    <p>Artikel: {{artist}} - {{title}}</p>

    <div class="buttonflex">
        <a href="#">Bearbeiten</a>
        <a href="#">Löschen</a>
    </div>
</div>
{{/each}}