<h1>Shopartikel</h1>
<a href="/adminMenu">Menü</a>

{{#each shopArticle}}

<form action="/shopArticle/" method="get" class="goldbox">
    <p>Artikel: {{artist}} - {{title}}</p>

    <div class="buttonflex">
        <button type="submit" formaction="/shopArticle/{{_id}}/edit">Bearbeiten</button>
        <button type="submit" formaction="/shopArticle/{{_id}}/delete">Löschen</button>
    </div>
</form>
{{/each}}