<container id="main_graphic" class="container-fluid">
    {{!-- <img class="big_logo" src="resources/jan_logo_l_white.svg" alt="Jan Hirte - The Best In Blues">
    <img class="cover_photo" src="resources/Jan-Hirte-Dozent-cropped.jpg" alt="Jan Hirte - cover photo"> --}}
    <div class="container">

        <div class="box" onclick="location.href='/news';" style="cursor: pointer;"> Aktuelles</div>
        <div class="box" onclick="location.href='/gigs';" style="cursor: pointer;">Termine</div>
        <div class="box" onclick="location.href='/projects';" style="cursor: pointer;">Projekte</div>
        <div class="box" onclick="location.href='/shop';" style="cursor: pointer;">Shop</div>
        <div class="box" onclick="location.href='/contact';" style="cursor: pointer;">Kontakt</div>

    </div>



</container>
<div class="container-fluid">

    {{!-- Über mich --}}
    <div class="ueber_mich col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1>Über mich</h1>
        <p>Mit inzwischen fast 40 Jahre Bühnenerfahrung ist Jan Hirte eines der versiertesten und angefragtesten
            Bluesgitarristen im deutschsprachigen Raum.Durch die Zusammenarbeit mit u.a. Luther Allison, Buddy Ace, Big
            Jay Mc Neely und Johnny Copeland hat er ein großes Repertoire an Songs und Stilen erarbeitet. </p>
        <p>2020 gewann er zusammen mit seiner Band 'Ginger Blues' den renomierten Preis der deutschen Schalplattenkritik
            in der Kategorie Blues</p>
        <p>Unterricht gibt er seit 10 Jahren und legt hierbei Wert auf die Einsetzbarkeit des Erlernten.
        </p>
    </div> {{!-- end ueber mich --}}

    {{!-- <div id="frontpage_grid_right col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div id="index_termine">
            <h1>Termine</h1>
            {{!-- nächste Termine --}}
    <a href="#">Alle termine</a>
</div>{{!-- end index_termine  --}}

<div id="index_aktuelles">
    {{!-- <h1>Aktuelles</h1> --}}
    {{!-- neuste nachricht --}}
    {{!-- <a href="#">Mehr aktuelles</a> --}}
</div> {{!--  end index_aktuelles--}}
</div>{{!-- end frontpage_grid_right --}}

</div>{{!-- end container_fluid --}}
<div class="cards">
    {{!-- projekte --}}
    {{!-- <h1>Projekte</h1> --}}

    {{!-- shop --}}



    {{!-- unterricht --}}

    {{!-- <h1> Kontakt</h1> --}} --}}

</div>