<container id="main_graphic" class="container-fluid">
    {{!-- <img class="big_logo" src="resources/jan_logo_l_white.svg" alt="Jan Hirte - The Best In Blues">
    <img class="cover_photo" src="resources/Jan-Hirte-Dozent-cropped.jpg" alt="Jan Hirte - cover photo"> --}}
    <div class="container">

        <div class="box" onclick="location.href='/news';" style="cursor: pointer;"> Aktuelles</div>
        <div class="box" onclick="location.href='/gigs';" style="cursor: pointer;">Termine</div>
        <div class="box" onclick="location.href='/projects';" style="cursor: pointer;">Projekte</div>
        <div class="box" onclick="location.href='/shop';" style="cursor: pointer;">Shop</div>
        <div class="box" onclick="location.href='/contact';" style="cursor: pointer;">Kontakt</div>

    </div>

</container>
<div style="height:40px"></div>
<div class="container-fluid">
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2 col-xl-2"></div>
    {{!-- Über mich --}}
    <div class="ueber_mich col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
        <h1>Über mich</h1>
        <p>Mit inzwischen fast 40 Jahre Bühnenerfahrung ist Jan Hirte eines der versiertesten und angefragtesten
            Bluesgitarristen im deutschsprachigen Raum.Durch die Zusammenarbeit mit u.a. Luther Allison, Buddy Ace, Big
            Jay McNeely und Johnny Copeland hat er ein großes Repertoire an Songs und Stilen erarbeitet. </p>
        <p>2020 gewann er zusammen mit seiner Band 'Ginger Blues' den renomierten Preis der deutschen Schalplattenkritik
            in der Kategorie Blues</p>
        <p>Unterricht gibt er seit 10 Jahren und legt hierbei Wert auf die Einsetzbarkeit des Erlernten.
        </p>
    </div>
</div>