<div class="container-fluid">

    {{!-- Über mich --}}
    <div class="ueber_mich col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1>Über mich</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi deleniti ducimus eaque quidem
            magni vero facilis, dolore voluptatum cumque voluptates beatae delectus cupiditate dolores illo recusandae debitis
            nostrum sed.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi deleniti ducimus eaque quidem
            magni vero facilis, dolore voluptatum cumque voluptates beatae delectus cupiditate dolores illo recusandae debitis
            nostrum sed.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi deleniti ducimus eaque quidem
            magni vero facilis, dolore voluptatum cumque voluptates beatae delectus cupiditate dolores illo recusandae debitis
            nostrum sed.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi deleniti ducimus eaque quidem
            magni vero facilis, dolore voluptatum cumque voluptates beatae delectus cupiditate dolores illo recusandae debitis
            nostrum sed.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi deleniti ducimus eaque quidem
            magni vero facilis, dolore voluptatum cumque voluptates beatae delectus cupiditate dolores illo recusandae debitis
            nostrum sed.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi deleniti ducimus eaque quidem
            magni vero facilis, dolore voluptatum cumque voluptates beatae delectus cupiditate dolores illo recusandae debitis
            nostrum sed.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi deleniti ducimus eaque quidem
            magni vero facilis, dolore voluptatum cumque voluptates beatae delectus cupiditate dolores illo recusandae debitis
            nostrum sed.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi deleniti ducimus eaque quidem
            magni vero facilis, dolore voluptatum cumque voluptates beatae delectus cupiditate dolores illo recusandae debitis
            nostrum sed.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur excepturi deleniti ducimus eaque quidem
            magni vero facilis, dolore voluptatum cumque voluptates beatae delectus cupiditate dolores illo recusandae debitis
            nostrum sed.
        </p>
    </div> {{!-- end ueber mich --}}

    {{!-- <div id="frontpage_grid_right col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div id="index_termine">
            <h1>Termine</h1>
            {{!-- nächste Termine --}}
            <a href="#">Alle termine</a>
        </div>{{!-- end index_termine  --}}

        <div id="index_aktuelles">
            {{!-- <h1>Aktuelles</h1> --}}
            {{!-- neuste nachricht --}}
            {{!-- <a href="#">Mehr aktuelles</a> --}}
        </div> {{!--  end index_aktuelles--}}
    </div>{{!-- end frontpage_grid_right --}}

</div>{{!-- end container_fluid --}}
<div class="cards">
    {{!-- projekte --}}
    {{!-- <h1>Projekte</h1> --}}

    {{!-- shop --}}



    {{!-- unterricht --}}

   {{!-- <h1> Kontakt</h1> --}} --}}

</div>