<!DOCTYPE html>
<html lang="en">

<head>

{{!-- Google font --}}

<style>
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

</style>


{{!-- end google font --}}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jan Hirte - The Best In Blues</title>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
    integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <!--Navbar-->

  <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container-fluid">
      <img class="navbar_logo navbar-brand" alt="Navbar logo" src="https://res.cloudinary.com/markjkeeble/image/upload/v1606143965/janhirte/jan_logo_s_idv3e5.svg" />

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-item active" href='/'>Über mich</a></li>
          <li class="nav-item">
            <a class="nav-item" href='/news'>Aktuelles</a></li>
          <li class="nav-item">
            <a class="nav-item" href='/gigs'>Termine</a></li>
          <li class="nav-item">
            <a class="nav-item" href='/projects'>Projekte</a></li>
          <li class="nav-item">
            <a class="nav-item" href='/shop'>Shop</a></li>
          <li class="nav-item">
            <a class="nav-item" href='/lessons'>Unterricht</a></li>
          <li class="nav-item">
            <a class="nav-item" href='/contact'>Kontakt</a></li>
        </ul>
      </div>{{!-- end div #nasvar responsive --}}
    </div>{{!-- end container fluid --}}
  </nav>
{{{body}}}


  <footer class="fixed-bottom">
    <p>Designed and implemented by William Campbell and Mark J. Keeble, 2020</p>

  </footer>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js"
    integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P"
    crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/releases/v5.08/js/all.js"></script>

<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="/javascripts/script.js"></script>

</body>


</html>