<h1>Unterricht</h1>

<div class="goldbox">
    <p>Für alle die mir nacheifern wollen gibt es natürlich die Möglichkeit bei mir Unterricht zu nehmen. Hier ein
        kurzer Überblick, was Ihr bei mir lernen könnt. Ich gebe grundsätzlich JEDEM Unterricht. Anfänger,
        Fortgeschrittene, Kinder, Gruppen, Workshops usw.. Hauptstilrichtung ist natürlich Blues, aber auch andere Stile
        werden bei mir gelernt: Rock, Jazz, Soul, Pop und auch Klassik.</p>
    <br>
    <p>Der Unterricht findet bei mir zu Hause in Berlin-Schöneberg statt und kostet <em>25 Euro pro Zeitstunde</em>.
        Also ran an die Seiten, holt die verstaubte Klampfe vom Dachboden und kommt mal vorbei! Übrigens: <strong> die
            Probestunde ist immer umsonst!!! ;-)</strong></p>
    <br>
    <h3>Unterrichtsgrundlagen</h3>
    <ul>
        <li>Harmonielehre</li>
        <li>Intervallerkennung</li>
        <li>Zupftechniken</li>
        <li>Rhythmusübungen</li>
        <li>Solotechnik, Skalen</li>
        <li>Bottlenecktechnik</li>
        <li>Erarbeitung eines eigenen Repertoires</li>
        <li>Demoaufnahmen</li>
    </ul>
    <br>
    <h3><a href="/contact"> Kontaktieren Sie mich</a> jetzt um eine Probestunde zu buchen!</h3>

</div>

</div>