<h1>Dankeschön</h1>

<div class="goldbox">
    <p>Vielen Dank für Ihre Nachricht. Ich werde so schnell wie möglich antworten.</p>
   
    <p>Ich wünsche Ihnen einen schönen Tag!</p>
   
    <p><a href="/shop">In der Zwischenzeit können Sie meine Musik, die in meinem Geschäft erhältlich ist, hier sehen</a>.</p>
   
</div>

</div>