<h1>Termine</h1>
<a href="#">Menü</a>

{{#each gig}}
<div class="goldbox">
    <p>date {{Date}}</p>
    <p>{{venue}}, {{town}}</p>
    <div class="buttonflex">
        <a href="#">Bearbeiten</a>
        <a href="#">Löschen</a>
    </div>
</div>