
/* font-family: 'Libre Baskerville', serif; */
$blue-0: #CBCDCE;	// Main Primary color */
$blue-1: #667E8E;
$blue-2: #2C526A;
$blue-3: #042C46;
$blue-4: #001522;


$gold-0: #FFFEFC;// Main Secondary color (1) */
$gold-1: #DECC9C;
$gold-2: #A68B3E;	
$gold-3: #6D5100;
$gold-4: #352700;

$brown-0: #FFFDFC;// Main Secondary color (2) */
$brown-1: #DEAD9C;
$brown-2: #A6593E;	
$brown-3: #6D1C00;
$brown-4: #350E00;

/*---Media queries---*/
@media (max-width: 992px){

}
@media (max-width: 768px){

}
@media (max-width: 576px){

}

/*--------*/

html, body {
    margin: 0;
    padding: 0;
    background-color: $blue-1;
}

body{
    font-family: roboto;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 500;
    background-color: #667E8E;
}

header{
    display:flex;
    justify-content: space-between;
    margin: 0em;
}

hr{
    max-width: 100%;
    color: $blue-4;
    margin: 0;
}

.h1{

    margin-left: 10px;
}

.navbar_logo{
    width: 130px;
    height: auto;
    margin-top: 10px;
}

nav {

    height: auto;
    display: flex;
    justify-content: flex-end;
    flex-basis: 1000px;
    border-bottom: 2px solid $blue-4;
    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: top;
        margin: 0;
        margin-right: 1em;
        padding-top: 3px;
    }
    a {
        text-decoration: none;
        font-weight: 400;
        color: $blue-4;
        margin-left: 2em;
        height: 50px;
        // &:hover {
        //       font-weight: 700;
        // }
    }
}


.container-fluid{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}

nav a:hover {

    text-decoration: none;
    color: $blue-3;
}

#main_graphic{
    display:flex;
    justify-content:space-evenly;
    background: $blue-4;
    padding: 2em;
    padding-top: 0;
    height: 700px;
}

.big_logo{
    width: 500px;
    height: auto;
    color:gray
}

.cover_photo{
height: 100%;
width: auto;
margin-left: 50px;
margin-right: 300 px;
margin-top: 32px;
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default for Bootstrap

Small (sm) devices (landscape phones, 576 px and up)
@media (max-width: 576px){ ... }

Medium (md) devices (tablets, 768 px and up)
@media (max-width: 768px){ ... }

Large (lg) devices (desktops, 992 px and up)
@media (max-width: 992px){ ... }

Extra large (xl) devices (large desktops, 1200 px and up)
@media (max-width: 1200px){ ... }
*/


// William slider

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
// // click whole image
//     display: block;
//     height: 100%;
//     width: 100%;
//     text-decoration: none;
//     // end click whole image
    height: 50vh;
    background-color: red;
    border: 10px solid black;
    font-size: 50px;
    transition-duration: 1s;
    background-position: top;
    background-size: cover;
    font-family: 'Balsamiq Sans', cursive;
    color: rgb(129, 129, 129);
    text-shadow: 2px 2px black;
    line-height: 1.1;
}
.box:hover{

    // background-color: blue;
    // all:unset!important;
    text-decoration: none;
    flex: 4;
}



.container{
display: flex;
height: 100vh;
align-items: center;

}

.box:nth-of-type(1){
    background-image: url("https://www.bluescamp.de/wp-content/uploads/2015/02/Jan-Hirte-Dozent.jpg");
}
.box:nth-of-type(2){
    background-image: url("https://i.ytimg.com/vi/a39YpP3T3-8/maxresdefault.jpg");
}
.box:nth-of-type(3){
    background-image: url("https://fotos.verwaltungsportal.de/seitengenerator/gross/blue_ribbon_2015.jpeg");
}
.box:nth-of-type(4){
    background-image: url("https://a1-images.myspacecdn.com/images03/2/004c7f609bf0490aaac97f251601983e/600x600.jpg");
}
.box:nth-of-type(5){
    background-image: url("https://www.blueslover.de/albums/Jazzclub%20Bielefeld%20Kat%20%20Baloun/normal_9N1A5223.jpg");
}


// end william slider

//other William stuff

.goldbox {
    display: flex; 
    flex-direction: column;
    background-color: $gold-2;
    padding: 0% 15%  0 5%;
    margin: 2em;
    // max-width: 1800px;
}


.articleDetails{
    display: flex;
    flex-direction: row ;
    // width: 80%;
    align-items: center;
    align-content: center;
}

.purchase {
    margin-left: 2em;
    // display: flex; 
    // flex-wrap: wrap ;
    font-size: 10px;
    flex-grow: 4; /* default 0 */
}

.albumTitle{
    font-size: 24px;
    font-weight: bold;  
}

.description {
    font-style: italic;
    font-size: 16px;
}

.price {
    font-size: 22px;
    font-weight: bold;  

}

.albumImage{
    padding-left: 10px;
}

#cdPayPalButton {
    align-items: right;
}

.buy{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;

}
.buyDetails{
    display: flex; 
    flex-direction: column;
    font: size 9px;

}
.warenKorb{

    text-align: right;
    
}