<h1>Admin login</h1>
<a href="/adminMenu">Admin Menu</a>
<form action="/login/" method="post">
    <label for="adminName">Name</label>
    <input type="text" name="adminName" id="adminName">
    <label for="password"Password></label>
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
</form>