<h1>Menü</h1>
<table>
    <tr>
        <td>
            <h3>Admins</h3>
        </td>
        <td><a href="/maintainAdminsAdd">Neue Hinzufügen</a></td>
        <td><a href="/maintainAdminsList">Bearbeiten/Löschen</a></td>
    </tr>
    <tr>
        <td>
            <h3>Aktuelles</h3>
        </td>
        <td><a href="/maintainNewsAdd">Neue Hinzufügen</a></td>
        <td><a href="/maintainNewsList">Bearbeiten/Löschen</a></td>
    </tr>
    <tr>
        <td>
            <h3>Termine</h3>
        </td>
        <td><a href="/maintainGigsAdd">Neue Hinzufügen</a></td>
        <td><a href="/maintainGigsList">Bearbeiten/Löschen</a></td>
    </tr>
    <tr>
        <td>
            <h3>Projekte</h3>
        </td>
        <td><a href="/maintianProjectsAdd">Neue Hinzufügen</a></td>
        <td><a href="/maintainProjectsList">Bearbeiten/Löschen</a></td>
    </tr>
    <tr>
        <td>
            <h3>Shop</h3>
        </td>
        <td><a href="/maintainShopAdd">Neue Hinzufügen</a></td>
        <td><a href="/maintainShopList">Bearbeiten/Löschen</a></td>
    </tr>
</table>