<h1>Menü</h1>
<a href="/logout">Logout</a>

<div class="goldbox-h menubox">
    <h3>Admins</h3>
    <div>
        <a href="/maintainAdminsAdd">Neue Hinzufügen</a>
        <a href="/maintainAdminsList">Bearbeiten/Löschen</a>
    </div>
</div>

<div class="goldbox-h menubox">
    <h3>Aktuelles</h3>
    <div>
        <a href="/news/add/">Neue Hinzufügen</a>
        <a href="/maintainNewsList">Bearbeiten/Löschen</a>
    </div>
</div>

<div class="goldbox-h menubox">
    <h3>Termine</h3>
    <div>
        <a href="/maintainGigsAdd">Neue Hinzufügen</a>
        <a href="/maintainGigsList">Bearbeiten/Löschen</a>
    </div>
</div>

<div class="goldbox-h menubox">
    <h3>Projekte</h3>
    <div>
        <a href="/project/add/">Neue Hinzufügen</a>
        <a href="/maintainProjectsList">Bearbeiten/Löschen</a>
    </div>
</div>

<div class="goldbox-h menubox">
    <h3>Shop</h3>
    <div>
        <a href="/shopArticle/add/">Neue Hinzufügen</a>
        <a href="/maintainShopList">Bearbeiten/Löschen</a>
    </div>
</div>