<h1>Menü</h1>
<table>
    <tr>
        <td>
            <h3>Admins</h3>
        </td>
        <td><a href="#">Neue Hinzufügen</a></td>
        <td><a href="#">Bearbeiten/Löschen</a></td>
    </tr>
    <tr>
        <td>
            <h3>Aktuelles</h3>
        </td>
        <td><a href="#">Neue Hinzufügen</a></td>
        <td><a href="#">Bearbeiten/Löschen</a></td>
    </tr>
    <tr>
        <td>
            <h3>Termine</h3>
        </td>
        <td><a href="#">Neue Hinzufügen</a></td>
        <td><a href="#">Bearbeiten/Löschen</a></td>
    </tr>
    <tr>
        <td>
            <h3>Projekte</h3>
        </td>
        <td><a href="#">Neue Hinzufügen</a></td>
        <td><a href="#">Bearbeiten/Löschen</a></td>
    </tr>
    <tr>
        <td>
            <h3>Shop</h3>
        </td>
        <td><a href="#">Neue Hinzufügen</a></td>
        <td><a href="#">Bearbeiten/Löschen</a></td>
    </tr>
</table>