<h1>Projekte</h1>
<a href="#">Menü</a>

{{#each project}}
<div class="goldbox">
    <p>Projektname: {{name}}</p>

    <div class="buttonflex">
        <a href="#">Bearbeiten</a>
        <a href="#">Löschen</a>
    </div>
</div>