<h1>Projekte</h1>
<a href="/adminMenu">AdminMenü</a>

{{#each project}}
<div class="goldbox-h menubox" >
    <h3>{{name}}</h3>

    <form class="buttonflex">
        <button type="submit" formaction="/project/{{_id}}/edit">Bearbeiten</button>
        <button type="submit" formaction="/project/{{_id}}/delete">Löschen</button>
    </form>


</div>
{{/each}}