<h1>Neuer Admin hinzufügen</h1>

<form action="/admin/add" method="post" class="goldbox">

    <label for="adminName">Name</label>
    <input type="text" name="adminName" id="adminName" required>

    <label for="Email">Email</label>
    <input type="email" name="email" id="email" required>

    <label for="password">Passwort</label>
    <input type="password" name="password" id="password" required>

    <label for="password2">Bitte Passwort nochmal eingeben</label>
    <input type="password" name="password2" id="password2" required>

    {{#if message}}
    <p>{{message}}</p>
    {{/if}}
    <div class="buttonflex">
        <button class="edit-button" name="action" type="submit" value="add">Hinzufügen</button>
        <a href="/adminMenu">Zurück</a>
    </div>
</form>