<h1>Admin bearbeiten</h1>
{{#with admin}}

<form action="/admin/edit/{{_id}}" method="post" class="goldbox">

    <label for="adminName">Name</label>
    <input type="text" name="adminName" id="adminName" value="{{adminName}}" required>

    <label for="Email">Email</label>
    <input type="email" name="email" id="email" value="{{email}}" required>


    {{!-- how to manage password here? --}}
    {{!-- <label for="password">Password</label>
        <input type="password" name="password" id="password" required>

        <label for="password2">Please re-enter your password</label>
        <input type="password" name="password2" id="password2" required> --}}

    {{#if message}}
    <p>{{message}}</p>
    {{/if}}
    <div class="buttonflex">
        <button class="edit-button" name="action" type="submit" value="edit">Änderungen speichern</button>
        <button class="delete-button" name="action" type="submit" value="delete">Löschen</button>
        <a href="#">Zurück</a>
    </div>
</form>