<h1>Administratoren</h1>
<a href="#">Menü</a>

{{#each admin}}
<div class="goldbox">
    <p>Name: {{adminName}}</p>
    <div class="buttonflex">
        <a href="#">Bearbeiten</a>
        <a href="#">Löschen</a>
    </div>
</div>
{{/each}}