<h1>Administratoren</h1>
<a href="/adminMenu">AdminMenü</a>
{{message}}
{{#each admin}}
<form action="#" method="get" class="goldbox-h menubox">
    <div>

        <h3>{{adminName}}</h3>
    </div>
    <button type="submit" formaction="/admin/{{_id}}/edit">Bearbeiten</button>
    <button type="submit" formaction="/admin/{{_id}}/delete">Löschen</button>

</form>

{{/each}}