<h1>Administratoren</h1>
<a href="/adminMenu">AdminMenü</a>
{{message}}
{{#each admin}}
<form action="#" method="get" class="goldbox-h">
    <div style="width:700px">

        <h3>{{adminName}}</h3>

        <button type="submit" formaction="/admin/{{_id}}/edit">Bearbeiten</button>
        <button type="submit" formaction="/admin/{{_id}}/delete">Löschen</button>
    </div>
</form>

{{/each}}